.pulse {
  animation: pulse 2s infinite !important;
  @keyframes pulse {
    0% {
      background: $nonary;
      color: white;
      border-color: $nonary;
    }
    50% {
      background: $pending;
      color: $dark;
      border-color: $pending;
    }
    100% {
      background: $nonary;
      color: white;
      border-color: $nonary;
    }
  }
  @-moz-keyframes pulse {
    0% {
      background: $nonary;
      color: white;
      border-color: $nonary;
    }
    50% {
      background: $pending;
      color: $dark;
      border-color: $pending;
    }
    100% {
      background: $nonary;
      color: white;
      border-color: $nonary;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      background: $nonary;
      color: white;
      border-color: $nonary;
    }
    50% {
      background: $pending;
      color: $dark;
      border-color: $pending;
    }
    100% {
      background: $nonary;
      color: white;
      border-color: $nonary;
    }
  }
}

@mixin btn-variant($parent, $color) {
  #{$parent} {
    background-color: $color;
    &:hover {
      background-color: lighten($color, 5%) !important;
      border-color: lighten($color, 5%) !important;
      // background-color: darken($color, 20%) !important;
      // border-color: darken($color, 20%) !important;
    }
    &:focus {
      background-color: lighten($color, 5%) !important;
      border-color: lighten($color, 5%) !important;
      box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%),
        0 1px 1px rgb(46 54 80 / 8%), 0 0 0 0.08rem rgb($color, 50%);
    }
    &.hover-none {
      &:hover,
      &:focus {
        background-color: $color !important;
        border-color: $color !important;
      }
    }
  }
}

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus {
      background-color: lighten($color, 100%) !important;
    }
  }
}

@mixin bg-gradient-variant($parent, $color) {
  #{$parent} {
    background: linear-gradient(
      87deg,
      $color 0,
      saturate($color, 10%) 100%
    ) !important;
  }
}

@mixin background-image($background-repeat, $background-size) {
  background-repeat: $background-repeat;
  background-position: top center;
  background-size: $background-size;
}

.bg-pulse-nonary-pending {
  animation: pulse 2s infinite !important;

  @keyframes pulse {
    0% {
      background: $nonary;
      color: $white;
      border-color: $nonary;
    }
    50% {
      background: $pending;
      color: $nonary;
      border-color: $pending;
    }
    100% {
      background: $nonary;
      color: $white;
      border-color: $nonary;
    }
  }
  @-moz-keyframes pulse {
    0% {
      background: $nonary;
      color: $white;
      border-color: $nonary;
    }
    50% {
      background: $pending;
      color: $nonary;
      border-color: $pending;
    }
    100% {
      background: $nonary;
      color: $white;
      border-color: $nonary;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      background: $nonary;
      color: $white;
      border-color: $nonary;
    }
    50% {
      background: $pending;
      color: $nonary;
      border-color: $pending;
    }
    100% {
      background: $nonary;
      color: $white;
      border-color: $nonary;
    }
  }
}
.bg-pulse-darker-nonary-pending {
  animation: pulse 2s infinite !important;

  @keyframes pulse {
    0% {
      background: $darker-nonary;
      color: $pending;
      border-color: $darker-nonary;
    }
    50% {
      background: $pending;
      color: $darker-nonary;
      border-color: $pending;
    }
    100% {
      background: $darker-nonary;
      color: $pending;
      border-color: $darker-nonary;
    }
  }
  @-moz-keyframes pulse {
    0% {
      background: $darker-nonary;
      color: $pending;
      border-color: $darker-nonary;
    }
    50% {
      background: $pending;
      color: $darker-nonary;
      border-color: $pending;
    }
    100% {
      background: $darker-nonary;
      color: $pending;
      border-color: $darker-nonary;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      background: $darker-nonary;
      color: $pending;
      border-color: $darker-nonary;
    }
    50% {
      background: $pending;
      color: $darker-nonary;
      border-color: $pending;
    }
    100% {
      background: $darker-nonary;
      color: $pending;
      border-color: $darker-nonary;
    }
  }
}
.swing {
  animation: swing 2s infinite !important;

  @keyframes swing {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  @-moz-keyframes swing {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  @-webkit-keyframes swing {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
}
