/**
 * = Sidebars
 */

.sidebar-default {
  .page {
    height: calc(100% - 55px);
    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }
}

.simplebar-content {
  height: 100%;
}

#doc-index:not(.collapse.show),
.doc-sidebar {
  display: none;
}

@include media-breakpoint-up(lg) {
  #doc-index {
    display: block;
  }

  .doc-sidebar {
    display: block;
    height: calc(100vh - 2rem);
    overflow-y: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;

    .nav-link[data-toggle="collapse"] > .icon {
      transform: rotateZ(-90deg);
      position: relative;
      right: 0.25rem;
    }

    .nav {
      .nav-item {
        font-size: $font-size-sm;
      }
    }
  }
}

.dashboard-sidebar {
  height: 100%;
  min-width: 60px;
  max-width: 60px;
  z-index: 9000;
  display: flex;
  flex-direction: column;
}
.dashboard-sidebar-btn-group {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex: 1 1 auto;
  min-height: 80%;
}
.dashboard-sidebar-btn {
  // w-100 h-100 rounded-0 shadow-none
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  width: 60px !important;
  padding: 0;
  svg {
    height: 22px;
    width: 22px;
  }
}

.dashboard-content {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  width: calc(100% - 60px);
}
.dashboard {
  flex-wrap: nowrap;
  height: 100%;
  display: flex;
  background-color: $darker-nonary;
  @include media-breakpoint-down(sm) {
    .dashboard-sidebar {
      position: absolute;
      bottom: 0;
      flex-direction: row;
      height: 60px;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
    .dashboard-sidebar-btn-group {
      flex-direction: row;
      padding: 0;
      .dashboard-sidebar-btn {
        width: auto;
        flex: 1 1 auto;
      }
    }
    .dashboard-content {
      width: 100%;
      height: calc(100% - 60px);
    }
    .modal-dashboard {
      padding-left: 5%;
    }
    .dashboard-sidebar-btn {
      width: auto;
      height: 60px;
    }
  }
}
