/**
 * = Accordions
 */

.accordion-button {
  text-align: left;

  .btn-check:focus + .btn,
  .btn:focus {
    outline: 0;
    box-shadow: none;
  }

  &:hover {
    background-color: transparent;
  }
}

// Flush accordion items
//
// Remove borders and border-radius to keep accordion items edge-to-edge.

.accordion-flush {
  .accordion-button {
    background-color: transparent;
    &:not(.collapsed) {
      color: $secondary;
    }
    &:focus {
      border-color: $gray-300;
      box-shadow: none;
    }
  }
  .accordion-collapse {
    border: 0;
  }
}
.accordion-dark {
  color: $senary;
  border-color: $senary !important;
  .accordion-header .accordion-button {
    background-color: $nonary;
    color: $senary;
  }
  .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fc6f5b'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
  .accordion-collapse {
    background-color: $nonary;
    border-top: 1px solid $nonary;
  }
  .accordion-collapse.show {
    border-top: 1px solid $senary;
  }
  .accordion-item {
    background-color: $nonary;
    border: 0;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
}
.accordion-item-order:first-of-type {
  border-radius: 0;
  .accordion-button {
    border-radius: 0;
  }
}
.accordion-item-order {
  border: 0;
}
.accordion-item-order .accordion-button {
  background-color: white;
  box-shadow: none;
  // border: 1px solid $gray-100;
  &:focus {
    border-color: $gray-100;
  }
  &:not(.collapsed) {
    // border-color: $primary;
    // border: 1px solid;
    // border-bottom: 0;
  }
}
.accordion-item-order .accordion-collapse.collapse.show {
  // border-bottom: 1px solid $gray-100;
}
.accordion-item-order {
  .order-status-tab,
  .order-list,
  .order-details {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.accordion-item-order {
  border-bottom: 2px solid $gray-100;
}
.accordion-order-list {
  // max-height: 85vh;
  // overflow: auto;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.order-list .accordion {
  .accordion-item {
    overflow: hidden;
    border: 0;
  }
  button {
    padding: 0;
    color: $primary !important;
    svg {
      transform: rotate(180deg);
      transition: transform 0.25s ease-in-out;
    }
    &::after {
      content: none;
    }
    &.collapsed {
      color: $body-color !important;
      svg {
        transform: rotate(0deg);
      }
    }
  }

  .accordion-collapse .accordion-body {
    padding: 0;
    font-size: 13px;
    background-color: white;
  }
}
