/*
* = Buttons
*/

.btn {
  &.btn-circle {
    border-radius: $circle-radius;
  }

  &.btn-md {
    padding: 0.65rem 1.25rem;
  }

  &.btn-xs {
    padding: 0.175rem 0.45rem;
    font-size: 0.7rem;
  }
}

.btn-icon-only {
  width: 2.575rem;
  height: 2.575rem;
  padding: 0;
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);

  &.btn-xs {
    width: 1.7rem;
    height: 1.7rem;
  }

  &.btn-sm {
    width: 2rem;
    height: 2rem;
  }
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

.copy-code-button {
  position: absolute;
  top: 22px;
  right: 20px;
  background-color: transparent;
  color: $gray-600;
  border: 0;
  box-shadow: none;

  &:hover {
    background-color: $primary;
    color: $white;
    border: 0;
    box-shadow: none;
  }
}

.copy-code-text {
  position: absolute;
  top: 24px;
  right: 90px;
}

.modal-dashboard .dashboard-btn-close {
  position: fixed;
  top: 10px;
  right: 10px;
  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%) !important;
  }
}
.dashboard-sidebar-btn-group {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex: 1 1 auto;
  min-height: 80%;
}
.dashboard-sidebar-btn {
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  width: 60px !important;
  padding: 0;
  svg {
    height: 22px;
    width: 22px;
  }
}
.dashboard-btn-settings {
  padding: 0;
  height: 26px;
  width: 26px;
  border-radius: 1rem;
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%) !important;
  }
}
