.menu {
  display: flex;
  flex: 1 1 auto !important;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 800px;
}
.category-wrapper {
  padding-bottom: 0.5rem;
  &:last-child {
    padding-bottom: 0;
  }
}
.categories-navbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  scrollbar-width: thin;
  position: sticky;
  max-width: 210px;
  width: 100%;
  z-index: 900;
  height: 90vh;
  top: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  .category {
    border: 0;
    padding: 0 10px;
  }
  .category-text {
    text-align: start;
    width: 100%;
    font-weight: 700;
    text-transform: capitalize;
    // padding: 0.5rem 0.75rem 0.5rem 0.75rem !important;
    border-radius: 1rem;
    box-shadow: none;
    padding: 0.55rem 1.25rem;
    transition: background-color 0.1s linear;

    &:active {
      box-shadow: none;
    }

    &.active {
      background-color: var(--bs-primary) !important;
      border-radius: 1rem;
      box-shadow: 2px 2px 4px 3px rgb(0 0 0 / 13%);
      color: white;
      text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.7);
    }
  }
}
.meal-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.meal-item {
  cursor: pointer;
  box-shadow: 2px 2px 4px 3px rgb(0 0 0 / 13%);
}
.meal-title {
}
.meal-price {
  width: fit-content;
  text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.7);
  background-color: var(--bs-primary);
  color: var(--bs-inverse-primary);
}
.meal-list {
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  .meal-item:last-child {
    border: 0 !important;
  }
}
.category-title {
  background-color: var(--bs-primary);
  min-height: 100px;
  align-items: center;
  display: flex;
  h2,
  h3,
  h4 {
    font-size: 44px;
    margin: 24px;
    padding-bottom: 5px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    text-shadow: 5px 4px 3px rgb(34 34 34 / 70%);
    &:after {
      content: "";
      display: block;
      height: 6px;
      width: 100%;
      background-color: #fff;
      box-shadow: 5px 4px 3px rgb(34 34 34 / 70%);
    }
  }
}
.welcome-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 1px 1px 0px rgba(34, 34, 34, 0.7);
  font-size: 1.3rem;
  .title {
    font-size: 1.8rem;
    color: var(--bs-primary);
    text-shadow: none;
  }
}
.menu-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--bs-primary);
  color: white;
  text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.7);
}
.comment .form-label {
  &:hover {
    cursor: pointer;
  }
}
.cart {
  overflow: auto;
  // box-shadow: 4px 3px 9px 4px rgb(0 0 0 / 13%);
  background-color: white;
  // border-radius: 0.5rem;
  .textarea-wrapper {
    padding-right: 1.5rem;
  }
  .card-header,
  .modal-header {
    border-radius: 0;
    position: sticky;
    top: 0;
    z-index: 900;
    background-color: $primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.7);
    text-transform: capitalize;
    span {
      font-weight: 700;
    }
  }
  .card-body,
  .modal-body {
    padding: 1rem;
    // padding-top: 1rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: auto;
    max-height: 100%;
  }
  .card-footer,
  .modal-footer {
    // padding-top: 0;
    // position: sticky;
    // bottom: 0;
    // z-index: 900;
    background-color: white;
  }
  .card-body,
  .card-footer,
  .modal-body,
  .modal-footer {
    border: 0;
  }
  .card,
  .modal {
    border-bottom: 2px solid #e5e5e5;
  }
  @include media-breakpoint-down(md) {
    position: initial;
    top: 0;
    max-height: 100vh;
    box-shadow: none;
    width: 100vw;
    .modal-footer {
      border-top: 1px solid $gray-100;
      justify-content: center;
    }
    .count-wrapper span {
      padding: 0.25rem 1rem;
    }
  }
}

.header-text {
  text-shadow: 1px 1px 3px rgb(34 34 34 / 70%);
  font-weight: 700;
}
.orders-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.menu-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  padding: 1.5rem;
}
.lottie-wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: fit-content;
  min-width: 240px;
}
.order-status {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  flex-direction: column;
}
.order-status-title {
  font-weight: 700;
}
.order-status-description {
  font-weight: 600;
}
.order-status-tab,
.order-list,
.order-details {
  padding-left: 1rem;
  padding-right: 1rem;
}
.order-list {
  max-height: calc(90vh - 385px);
  min-height: 25px;
  color: $gray-900;
  overflow: auto !important;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  .comment {
    background-color: $light-senary;
    font-weight: 600;
    padding-left: 10px;
    margin-left: 25px;
  }
}
.basket {
  // height: fit-content;
  box-shadow: 2px 2px 4px 3px rgb(0 0 0 / 13%);
  border-radius: 0.4375rem;
  min-width: 320px;
  // overflow: hidden;
  // position: sticky;
  // top: 40px;
  z-index: 900;
  // max-height: 90vh;
  max-width: 320px;
}
.basket-header {
  position: sticky;
  top: 0;
  z-index: 900;
  padding: 0;
  .nav {
    flex-wrap: nowrap;
  }
  .basket-tab {
    &.btn-primary {
      color: white !important;
      border-color: $primary !important;
      // text-shadow: 1px 1px 3px rgb(34 34 34 / 70%);
      &:focus {
        background-color: $primary !important;
      }
    }
    &.btn-white {
      &:hover,
      &:focus {
        color: $primary !important;
        border-color: $primary !important;
      }
    }
    border: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: $gray-900;
    border-bottom: 1px solid $gray-100;
    box-shadow: none;
    &:hover,
    &:focus {
      // background-color: white !important;
      // color: $primary;
      box-shadow: none;
    }
  }
}
.order-details {
  padding: 1rem;
  border-bottom: 1px solid $gray-100;
}
.order-status-tab {
  .tab-pane {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    flex: 1 1 auto;
    margin: 0;
    height: 6px;
    background-color: $gray-100;
    display: flex;
    padding: 0 2px 0 2px;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
    .p-bar {
      margin: auto;
      margin-left: 0;
      background-color: $primary;
      height: 3px;
      width: 0;
      &.active {
        animation: p-bar 1.5s linear infinite !important;
      }
      &.finished {
        width: 100%;
      }
      @keyframes p-bar {
        0% {
          width: 0%;
          visibility: visible;
        }
        75% {
          width: 100%;
          visibility: visible;
        }
        100% {
          width: 100%;
          visibility: hidden;
        }
      }
      @-moz-keyframes p-bar {
        0% {
          background: $primary;
          width: 0%;
        }
        50% {
          background: $primary;
          width: 100%;
        }
        100% {
          background: $primary;
          width: 0%;
        }
      }

      @-webkit-keyframes p-bar {
        0% {
          background: $primary;
          width: 0%;
        }
        50% {
          background: $primary;
          width: 100%;
        }
        100% {
          background: $primary;
          width: 0%;
        }
      }
    }
  }
}
.accordion-order-list {
  max-height: none;
  overflow: auto;
  .lottie-wrapper {
    margin: 0;
  }
}
.basket-modal {
  min-height: 100%;
  max-height: 100%;
  .accordion-order-list {
    max-height: none;
    overflow: auto;
  }
  .modal-header {
    border-radius: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 900;
    background-color: #d40811;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgb(34 34 34 / 70%);
    text-transform: capitalize;
  }
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.basket-modal {
  .modal-body-wrapper {
    max-height: calc(100% - 57px);
    min-height: calc(100% - 57px);
  }
  .tab-content,
  .tab-pane,
  .modal-body,
  .order-overview {
    height: 100%;
  }
  .modal-body {
    padding: 0;
    height: calc(100% - 73px);
  }
  .order-list {
    // max-height: calc(90vh - 265px);
    max-height: none;
    min-height: auto;
    // margin-bottom: 73px;
  }
  &.nofooter .order-list {
    // max-height: calc(90vh - 222px);
    margin-bottom: 0;
  }

  &.nofooter .modal-body {
    height: 100%;
  }
}
.pane-order-list {
  display: flex !important;
  flex-direction: column;
  max-height: calc(90vh - 45px);
  min-height: 100px;
  overflow: auto;
  // padding-top: 0.5rem;
  // padding-bottom: 0.5rem;
}
.accordion-item-order {
  background-color: white;
  .accordion-button {
    border-radius: 0;
  }
}
.order-status-tab svg {
  height: 70px;
}
.basket-toggle-btn:first-child:nth-last-child(2),
.basket-toggle-btn:first-child:nth-last-child(2) ~ .basket-toggle-btn {
  @include media-breakpoint-down(sm) {
    .basket-toggle-title {
      // display: none;
    }
    .basket-toggle-price {
      padding-left: 0.5rem;
    }
  }
}
.basket-card {
  .card-body {
    // max-height: calc(90vh - 130px);
    min-height: 130px;
    max-height: calc(100% - 77px);
    overflow: auto;
  }

  .card-footer {
    border-top: 1px solid $gray-100;
    height: fit-content;
    max-height: 77px;
    min-height: 77px;
  }
}
.cart-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $gray-100;
  &:last-child {
    border: 0;
  }
}
.user-login-modal-backdrop {
  z-index: 1050;
}
.dev {
  padding: 0;
  .menu {
    // max-width: unset;
  }
  .categories-navbar,
  .dev-btn-group {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -1px;
    overflow: auto;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    max-width: 200px;
    background: transparent;
    box-shadow: none;
    .category {
      margin: 0;
    }
  }
  .dev-btn-group {
    max-width: 150px;
  }
  .categories-list,
  .dev-btn-group .wrapper {
    max-height: 100vh;
    // overflow: auto;
    display: flex;
    margin: auto;
  }
  .wrapper {
    padding: 0 10px;
  }
  .categories-list {
    flex-direction: column;
  }
}
@include media-breakpoint-down(xl) {
  .editable-categories-navbar {
    position: sticky;
    top: -1px;
    z-index: 900;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: white;
    box-shadow: 0 0px 4px 3px rgb(0 0 0 / 13%);
    border-bottom: 1px solid #eaeaea;
    .edit-btn-wrapper {
      width: 40px !important;
    }
    .categories-navbar {
      width: calc(100% - 40px);
      box-shadow: none;
      border: 0;
    }
  }
  .menu-wrapper {
    flex-wrap: wrap;
    padding: 0;
  }
  .dropdown-menu {
    min-width: 310px !important;
    max-width: 310px !important;
  }
  .basket {
    min-width: 280px !important;
    max-width: 280px !important;
    // max-height: calc(100% - 2rem - 46px);
    max-height: initial !important;
  }
  .user-dropdown-wrapper {
    margin: 1rem 0;
  }
  .basket-right-side {
    top: calc(40px + 1rem) !important;
    padding-right: 2rem;
  }
  .basket-card {
    margin-top: 1rem;
  }
  .menu {
    max-width: calc(100% - 280px - 2rem);
    padding: 1rem 2rem;
  }
  .category-text {
    // padding: 1.5rem;
    box-shadow: none !important;
  }
  .categories-navbar {
    max-width: 100%;
    overflow: auto;
    box-shadow: 0 0px 4px 3px rgb(0 0 0 / 13%);
    background-color: white;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 6px;
    top: -1px;
    border-bottom: 1px solid $gray-100;
    height: 56px;
    justify-content: start !important;
  }
  .categories-list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-height: unset;
  }
  .dev .categories-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .category {
    margin: auto;
  }
}
@include media-breakpoint-down(md) {
  .categories-list,
  .dev .categories-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    .category {
      margin: auto;
    }
  }
  .dev .categories-navbar,
  .categories-navbar {
    flex-direction: row !important;
    width: 100% !important;
    top: -1px !important;
    max-width: unset !important;
    background-color: white !important;
    height: 56px;
    box-shadow: 0 0px 4px 3px rgb(0 0 0 / 13%);
  }
  .lottie-wrapper {
    margin: 0;
  }
  .orders-list {
    margin: auto;
    height: fit-content;
    max-height: 100%;
    min-width: 126px;
    max-width: 315px;
    // overflow: auto;
    padding: 0;
    display: flex;
  }
  .menu-wrapper {
    flex-direction: column;
    padding: 0;
  }

  .orders-wrapper {
    height: calc(100% - 57px);
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .category-text {
    // padding: 1.5rem;
    box-shadow: none !important;
  }
  .menu {
    padding: 0 !important;
    padding-bottom: 60px !important;
    width: 100%;
    margin: auto;
    max-width: 100% !important;
  }
  .meal-list {
    padding-left: 10px;
    padding-right: 10px;
  }
  .cart-toggle {
    svg {
      height: 16px;
    }
    .orders {
      svg {
        display: none;
      }
    }

    box-shadow: 0 0px 4px 3px rgb(0 0 0 / 13%);
    height: 55px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-top: 1px solid $gray-100;
    z-index: 900;
    .divider {
      display: none;
    }
  }
  .cart-toggle.double {
    .basket-toggle-btn {
      margin: 0;
      box-shadow: none;
      border-radius: 0;
      &:first-child {
        margin-left: 1rem;
        margin-right: 0;
        border-radius: 0.5rem 0rem 0rem 0.5rem;
      }
      &:last-child {
        margin-left: 0;
        margin-right: 1rem;
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
    .divider {
      display: block;
      width: 1px;
      background: white;
      height: 50%;
    }
    .orders {
      flex: none;
      border-radius: 0;
      height: 100%;
      padding: 0.5rem 1rem;
      margin: 0;
      svg {
        display: block;
      }
      span {
        display: none;
      }
    }
  }
  .categories-list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row !important;
    max-height: unset;
  }
}
@include media-breakpoint-down(sm) {
  .accordion-item-order {
    .orders-wrapper {
      flex-direction: column !important;
    }
  }
  .orders-wrapper {
    flex-wrap: wrap;
  }
  .lottie-wrapper {
    margin: 1rem 0 !important;
  }
}
