.menu {
  display: flex;
  flex: 1 1 auto !important;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 700px;
}
.category-wrapper {
  padding-bottom: 0.5rem;
  &:last-child {
    padding-bottom: 0;
  }
}
.categories-navbar {
  position: sticky;
  top: 40px;
  z-index: 900;
  width: 200px;
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  .category {
    border: 0;
  }
  .category-text {
    text-align: start;
    width: 100%;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem !important;
    border-radius: 0.5rem;
    box-shadow: none !important;
    &.active {
      background-color: var(--bs-primary) !important;
      color: white;
      text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.7);
      &:hover,
      &:focus {
        background-color: var(--bs-primary) !important;
      }
    }
  }
}
.meal-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.meal-item {
  cursor: pointer;
}
.meal-title {
}
.meal-price {
  width: fit-content;
  text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.7);
  background-color: var(--bs-primary);
  color: var(--bs-inverse-primary);
}
.meal-list {
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  .meal-item:last-child {
    border: 0 !important;
  }
}
.category-title {
  background-color: var(--bs-primary);
  min-height: 100px;
  align-items: center;
  display: flex;
  h2,
  h3,
  h4 {
    font-size: 44px;
    margin: 24px;
    padding-bottom: 5px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    text-shadow: 5px 4px 3px rgb(34 34 34 / 70%);
    &:after {
      content: "";
      display: block;
      height: 6px;
      width: 100%;
      background-color: #fff;
      box-shadow: 5px 4px 3px rgb(34 34 34 / 70%);
    }
  }
}
.welcome-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 1px 1px 0px rgba(34, 34, 34, 0.7);
  font-size: 1.3rem;
  .title {
    font-size: 1.8rem;
    color: var(--bs-primary);
    text-shadow: none;
  }
}
.menu-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--bs-primary);
  color: white;
  text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.7);
}
.cart {
  overflow: auto;
  // box-shadow: 4px 3px 9px 4px rgb(0 0 0 / 13%);
  background-color: white;
  // border-radius: 0.5rem;
  .textarea-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .card-header,
  .modal-header {
    border-radius: 0;
    position: sticky;
    top: 0;
    z-index: 900;
    background-color: $primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.7);
    text-transform: capitalize;
    span {
      font-weight: 700;
    }
  }
  .card-body,
  .modal-body {
    padding: 0;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: auto;
    max-height: 100%;
  }
  .card-footer,
  .modal-footer {
    padding-top: 0;
    // position: sticky;
    // bottom: 0;
    // z-index: 900;
    background-color: white;
  }
  .card-body,
  .card-footer,
  .modal-body,
  .modal-footer {
    border: 0;
  }
  .card,
  .modal {
    border-bottom: 2px solid #e5e5e5;
  }
  @include media-breakpoint-down(lg) {
    position: initial;
    top: 0;
    max-height: 100vh;
    box-shadow: none;
    width: 100vw;
    .modal-footer {
      border-top: 1px solid $gray-100;
      justify-content: center;
    }
  }
}

.header-text {
  text-shadow: 1px 1px 3px rgb(34 34 34 / 70%);
  font-weight: 700;
  text-transform: capitalize;
}
.menu-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  padding: 1.5rem;
  @include media-breakpoint-down(lg) {
    // flex-wrap: wrap !important;
    flex-direction: column;
    padding: 0;
    .category-text {
      padding: 1.5rem;
    }
    .categories-navbar {
      background-color: white;
      flex-direction: row;
      width: 100vw;
      padding-bottom: 5px;
      padding-top: 5px;
      top: 0;
      border-bottom: 1px solid $gray-100;
      justify-content: space-around;
    }
    .category {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    .menu {
      padding: 0 !important;
      padding-bottom: 60px !important;
      width: 100%;
      margin: auto;
    }
    .meal-list {
      padding-left: 10px;
      padding-right: 10px;
    }
    .cart-toggle {
      position: fixed;
      bottom: 0px;
      width: 100%;
      padding-bottom: 5px;
      padding-top: 5px;
      display: flex;
      justify-content: center;
      background-color: white;
      border-top: 1px solid $gray-100;
      z-index: 900;
    }
  }
}
.order-status-tab,
.order-list,
.order-details {
  padding-left: 1rem;
  padding-right: 1rem;
}
.order-list {
  max-height: calc(90vh - 385px);
  min-height: 25px;
  color: $gray-900;
  overflow: auto !important;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  .comment {
    background-color: $light-senary;
    font-weight: 600;
    padding-left: 10px;
    margin-left: 25px;
  }
}
.basket {
  height: fit-content;
  box-shadow: 4px 3px 9px 4px rgb(0 0 0 / 13%);
  border-radius: 0.4375rem;
  min-width: 300px;
  overflow: hidden;
  position: sticky;
  top: 40px;
  z-index: 900;
  // max-height: 90vh;
  max-width: 300px;
}
.basket-header {
  position: sticky;
  top: 0;
  z-index: 900;
  padding: 0;
  .nav {
    flex-wrap: nowrap;
  }
  .basket-tab {
    border: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-weight: 700;
    text-shadow: none;
    text-transform: capitalize;
    color: $gray-900;
    border-bottom: 1px solid $gray-100;
    box-shadow: none;
    &:hover,
    &:focus {
      background-color: white !important;
      color: $primary;
      box-shadow: none;
    }
    &.active {
      text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.7);
      background-color: $primary !important;
      border-bottom: 1px solid $primary;
      color: white;
      &:hover,
      &:focus {
        background-color: $primary !important;
        color: white;
      }
    }
  }
}
.order-details {
  padding: 1rem;
  border-bottom: 1px solid $gray-100;
}
.order-status-tab {
  .tab-pane {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    flex: 1 1 auto;
    margin: 0;
    height: 6px;
    background-color: $gray-100;
    display: flex;
    padding: 0 2px 0 2px;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
    .p-bar {
      margin: auto;
      margin-left: 0;
      background-color: $primary;
      height: 3px;
      width: 0;
      &.active {
        animation: p-bar 1.5s linear infinite !important;
      }
      &.finished {
        width: 100%;
      }
      @keyframes p-bar {
        0% {
          width: 0%;
          visibility: visible;
        }
        75% {
          width: 100%;
          visibility: visible;
        }
        100% {
          width: 100%;
          visibility: hidden;
        }
      }
      @-moz-keyframes p-bar {
        0% {
          background: $primary;
          width: 0%;
        }
        50% {
          background: $primary;
          width: 100%;
        }
        100% {
          background: $primary;
          width: 0%;
        }
      }

      @-webkit-keyframes p-bar {
        0% {
          background: $primary;
          width: 0%;
        }
        50% {
          background: $primary;
          width: 100%;
        }
        100% {
          background: $primary;
          width: 0%;
        }
      }
    }
  }
}
.basket-modal {
  min-height: 100%;
  max-height: 100%;
  .modal-header {
    border-radius: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 900;
    background-color: #d40811;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgb(34 34 34 / 70%);
    text-transform: capitalize;
  }
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.basket-modal {
  .modal-body-wrapper {
    max-height: calc(100% - 57px);
    min-height: calc(100% - 57px);
  }
  .tab-content,
  .tab-pane,
  .modal-body,
  .order-overview {
    height: 100%;
  }
  .modal-body {
    padding: 0;
    height: calc(100% - 73px);
  }
  .order-list {
    // max-height: calc(90vh - 265px);
    max-height: none;
    min-height: auto;
    // margin-bottom: 73px;
  }
  &.nofooter .order-list {
    // max-height: calc(90vh - 222px);
    margin-bottom: 0;
  }

  &.nofooter .modal-body {
    height: 100%;
  }
}
.pane-order-list {
  display: flex !important;
  flex-direction: column;
  max-height: calc(90vh - 45px);
  min-height: 100px;
  overflow: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.order-status-tab svg {
  height: 70px !important;
}
.basket-toggle-btn:first-child:nth-last-child(2),
.basket-toggle-btn:first-child:nth-last-child(2) ~ .basket-toggle-btn {
  @include media-breakpoint-down(sm) {
    .basket-toggle-title {
      display: none;
    }
    .basket-toggle-price {
      padding-left: 0.5rem;
    }
  }
}
.basket-card {
  .card-body {
    max-height: calc(90vh - 130px);
    min-height: 130px;
  }
  .card-footer {
    border-top: 1px solid $gray-100;
  }
}
