/**
 * = Modals
 */
.modal-backdrop {
  background-color: #000;
}
.modal {
  &.static-example {
    display: block;
    position: relative;
  }
}

.modal-content {
  @if $enable-rounded {
    border-radius: $modal-content-border-radius;
  } @else {
    border-radius: 0;
  }
}

.modal-fluid {
  .modal-dialog {
    margin-bottom: 0;
    margin-top: 0;
  }
  .modal-content {
    border-radius: 0;
  }
}

.item-modal-toggle {
  .btn:hover,
  .btn:focus {
    background-color: initial !important;
    border-color: initial !important;
  }
}
.item-modal {
  padding: 0 !important;
  display: flex !important;
  .modal-dialog {
    // height: 100%;
    margin: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    // min-width: 100%;
  }
  .modal-body {
    overflow: initial;
  }
  .modal-wrapper {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgb(46 54 80 / 15%);
    margin: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .modal-content {
    background-color: white;
    border: 0;
    display: flex;
    height: fit-content;
    margin: auto;
    max-height: 100%;
    min-width: 460px;
    max-width: 460px;
    width: fit-content;
  }
  .modal-header {
    background-color: white;
    border: 0;
    box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 8%);
    width: 100%;
  }
  .modal-footer {
    background-color: white;
    border: 0;
    box-shadow: 0 -4px 12px 0 rgb(0 0 0 / 5%);
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  textarea {
    height: fit-content;
    resize: none;
    border: 1px solid #dfdfdf;
  }
  textarea,
  select,
  .checkbox-wrapper {
    font-size: small;
  }
  .form-check-input {
    background-color: white;
  }
  .form-check-input:checked {
    background-color: $primary;
  }
  @include media-breakpoint-down(sm) {
    .modal-dialog {
      margin: 0;
      width: 100%;
    }
    .modal-content {
      margin: 0;
      min-width: 100%;
      height: 100%;
    }
  }
  .close-modal-btn {
    position: absolute;
    top: 10px;
    right: 18px;
    height: 27px;
    width: 27px;
    padding: 0;
    border-radius: 50%;
  }
}

.count-wrapper {
  transition: all ease 1s;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  // width: 35px;
  // padding: 0.55rem 0.75rem;
  background-color: transparent;
  border-radius: 0.5rem;
  button {
    border: 0;
    height: 25px;
    width: 0px;
    display: none;
    opacity: 0;
    margin: 0;
  }
  svg {
    margin: 0;
    opacity: 0;
    width: 0px;
  }
  span {
    border: 2px solid lighten($primary, 45%);
    border-radius: 0.5rem;
    margin: 0;
    padding: 0.5rem 0.75rem;
  }
}

.count-wrapper.expanded {
  background-color: lighten($primary, 50%) !important;
  span {
    border-color: transparent !important;
    margin: 0 0.25rem;
  }
  svg,
  button {
    -webkit-animation: accumulator-expand 1s forwards;
    animation: accumulator-expand 1s forwards;
    margin: 0;
    display: flex;
  }
  button {
    margin: 0 0.5rem;
  }
}

.basket .count-wrapper {
  background-color: white !important;
  span {
    padding: 0.45rem 0.5rem;
    line-height: 12px;
  }
  &.expanded span {
    padding: 0.45rem 0;
  }
  button {
    &:last-child {
      margin: 0 0 0 0.5rem;
    }
    &:first-child {
      margin: 0 0.5rem 0 0;
    }
    &:disabled {
      background-color: white !important;
    }
    border: 2px solid lighten($primary, 50%);
    background-color: lighten($primary, 50%);
    &:hover,
    &:focus {
      background-color: lighten($primary, 50%) !important;
      border: 4px solid lighten($primary, 50%) !important;
    }
  }
}

.modal-dialog.order {
  display: flex;
  height: fit-content;
  max-width: none;
  min-height: 100%;
  padding-bottom: 5%;
  padding-left: calc(60px + 5%);
  padding-right: 5%;
  padding-top: 5%;
  .modal-content {
    background-color: transparent;
    margin: auto;
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    background-color: white;
  }
  .tab-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 80vh;
  }
  .tab-pane.active {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
  .item-price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
    align-items: flex-end;
  }
  .item-row {
    border-bottom: 0.0625rem solid $dark;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    flex-wrap: wrap;
    display: flex;
    &:last-child {
      border: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
    padding-bottom: 60px;
    .tab-content {
      min-height: calc(100vh - 60px);
    }
    // .item-price {
    //   display: none;
    // }
  }
}
.modal-content {
  width: fit-content;
}
.pickup-time-modal-backdrop {
  z-index: 1050;
}
.MuiClockPicker-root {
  span {
    font-weight: 600;
  }
  .Mui-disabled {
    font-weight: 100;
  }
  .css-12ha4i7,
  .css-7lip4c,
  .css-118whkv,
  .css-2ujp1m {
    background-color: $primary;
  }
  .css-118whkv,
  .css-2ujp1m {
    border-color: $primary;
  }
}

.side-bar-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  margin: 0;
  bottom: 0;
  min-height: auto;
  transform: translateX(-100%);
  animation: slide-in 1s forwards;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.register-user-backdrop {
  z-index: 1050;
}
.register-user-dialog {
  z-index: 1060;
}
