.categories-navbar {
  position: sticky;
  top: 40px;
  z-index: 900;
  width: 200px;
  height: fit-content;
  cursor: pointer;
  .category {
    border-left: 1px solid $nonary;
    &:hover {
      border-left: 2px solid $nonary;
      .category-text {
        font-weight: 700;
      }
    }
  }
}
.meal-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.meal-item {
  cursor: pointer;
}
.meal-list {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  .meal-item:last-child {
    border: 0 !important;
  }
}
